# Ignorar la carpeta de datos pesados reales (¡Crítico para GitHub!)
data/

# Ignorar entornos virtuales (si los tienes)
venv/
env/
.env

# Ignorar archivos temporales de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignorar archivos del sistema operativo o editores
.DS_Store
.vscode/
.idea/